<html>
  <head>
    <title>Login/Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  </head>
  <body>
        <h1>Welcome</h1>
        <div id="regisform">
          <h3>Register</h3>
            <form action="/register/check" method='post'>
                First Name: <input type="text" name="first_name"><br>
                Alias: <input type="text" name="alias"><br>
                Email Address:<input type="email" name="email"><br>
                Password:<input type="password" name="password"><br>
                *Password should be at least 8 characters<br>
                Confirm PW:<input type="password" name="cf_password"><br>
                Date of Birth<input type="date" name="birthdate"><br>
                <input type="submit" value="Register" id="signbutton">
            </form>
        {% with messages = get_flashed_messages(with_categories=True, category_filter=['register_errors']) %}
          {% if messages %}
                {% for category, message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
          {% endif %}
        {% endwith %}
        </div>
        <div id="loginform">
            <h3>Login</h3>
            <form action="/signin/check" method='post'>
                Email Address:<input type="email" name="email"><br>
                Password:<input type="password" name="password"><br>
                <input type="submit" value="Sign In" id="signbutton">
            </form>
        {% with messages = get_flashed_messages(with_categories=True, category_filter=['login_errors']) %}
          {% if messages %}
                {% for category, message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
          {% endif %}
        {% endwith %}
        </div>



        
  </body>
</html>